<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-6 col-sm-3" *ngFor="let client of clients | async">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-tile">
            {{ client.name | truncateString: 30 : '...' }}
          </h5>
          <p class="card-text">
            Telefone: {{ client.phone }}
          </p>
        </div>
        <div class="card-footer d-flex flex-row justify-content-end align-items-baseline">
          <div class="m-2">
            <button type="button" class="btn btn-outline-secondary" (click)="edit(client, client.key)">Editar</button>
          </div>
          <div class="m-2">
            <button type="button" class="btn btn-danger" (click)="delete(client.key)">Excluir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
